.catalog-box {
  .header {
    position: fixed;
  }
}



.main-catalog {
  position: relative;
  padding-top: 90px;

  &::before,
  &::after {
    position: absolute;
    content: '';
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
  &::before {
    background-image: url('../../img/catalog-img-left.png');
    width: 620px;
    height: 1250px;
    left: 0;
  }
  &::after {
    background-image: url('../../img/catalog-img-right.png');
    width: 730px;
    height: 1100px;
    right: 0;
  }
}

.catalog-page {
  margin-top: 20px;
  &__inner {

  }
  &__top {
    padding: 15px 20px 30px;
    max-width: 920px;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 30px;
    background: rgba(0,0,0,.2);
    backdrop-filter: blur(10px);
  }
  &__descr {

  }
  &__title {
    width: 720px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    span {
      margin-left: auto;
    }
  }
  &__subtitle {
    display: block;
    max-width: 430px;
    @extend %oswald-400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
  &__categories {

  }
  .hero-aside {
    top: 0;
  }
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  &__btn {
    @extend %oswald-400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    color:var(--white);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 16px;
    border: 1px solid var(--white);
    border-radius: 50px;
    pointer-events: auto;
    transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;

    &:hover {
      color: var(--dark);
      background-color: var(--turquoise);
      border-color: transparent;
    }
  }
}
.categories__btn.active {
  color: var(--dark);
  background-color: var(--turquoise);
  border-color: transparent;
  // pointer-events: none;

}

.catalog-content {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    content: '';
    bottom: -130px;
    background-repeat: no-repeat;
    background-size:cover;
  }
  &::before {
    width: 880px;
    height: 210px;
    background: var(--turquoise);
    filter: blur(100px);
    left: 16%;
  }
  &::after {
    width: 350px;
    height: 360px;
    background: var(--purple);
    filter: blur(100px);
    right: -40%;
  }

  &__select-left {
    grid-column: 1 span;
  }
  &__select-right {
    grid-column: 3 span;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    align-items: flex-end;
  }
  &__btns-select {
    grid-column: 2 span;
  }
  &__select {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 20px;
    margin-left: auto;
    grid-column: 1 span;
  }
  &__inner {
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
  &__filter {
    grid-column: 1 span;
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 30px;
    row-gap: 60px;

    grid-column: 3 span;
  }
}

.btns-select {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  &__delete {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color:var(--turquoise);
    @extend %oswald-700;
    line-height: 21px;
    letter-spacing: 0.04em;
    font-size: 14px;
    svg {
      display: block;
      width: 25px;
      height: 25px;
      padding-left: 10px;
      pointer-events: none;
    }
  }
}
.catalog-cards {
  position: relative;
  &::before {
    position: absolute;
    content: '';
    top: 15%;
    left: -32%;
    width: 130px;
    height: 700px;
    transform: rotate(16deg);
    background: var(--turquoise);
    filter: blur(120px);
    z-index: -1;
  }
  margin-bottom: 200px;
  .product__link-img{
    height: 70.5%;
  }
  .product__img {
    filter: none;
  }

  .btn-bag {
    width: 100%;
  }
}

.to-top {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  // background-color:red;
  background: rgba(0,0,0,.2);
  backdrop-filter: blur(10px);
  border-radius:50%;
  bottom: 70px;
  right: 0;
}



.filter-catalog {
  position: relative;
  padding: 20px 15px;
  border-radius: 20px;
  background: rgba(0,0,0,.2);
  backdrop-filter: blur(10px);
  z-index: 1;

  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__flower {

  }
  &__price {
    background-color:transparent;
    color: var(--white);
    @extend %oswald-300;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
  &__price-text {

  }
  &__slider {
    margin-bottom: 10px;
  }
  &__box {
    max-height: 115px;
    overflow: auto;
  }
  &__title {
    @extend %oswald-700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.04em;
    margin-bottom: 0;
    color: var(--turquoise);
    text-transform: uppercase;
    margin-bottom: 10px;
  }
}
.custom-checkbox {
  display: flex;
  align-items: center;
  @include custom-checkbox;
  margin-bottom: 5px;

  &__content {
    @extend %oswald-300;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color:var(--white);
    &::before {
      border-color:var(--white);
      border-radius: 2px;
    }
    &::after {
      left: 2px;
      top: 2px;
      width: 10px;
      height: 10px;
      // border-radius: 50px;
      background-color: var(--turquoise);
      background-image:none;
    }
  }
  &__price-input {
    padding: 0 5px;
    background-color:transparent;
    color: var(--white);
    @extend %oswald-300;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    &::placeholder {
      text-transform: uppercase;
      color:var(--white);
      @extend %oswald-300;
    }
  }
}

.simplebar-track.simplebar-vertical {
  width: 3px;
}
.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}
.simplebar-scrollbar:before {
  background: var(--turquoise);
  border-radius: 2px;
  width: 1px;
  opacity: 1;
  transition: opacity .2s linear;
}

.noUi-horizontal {
  height: 1px;
}

.noUi-connect {
  background-color:var(--white);
}
.noUi-target {
  border:none;
  background-color: var(--turquoise);
}

.noUi-handle {
  border: none;
  background: transparent;
  cursor: default;
  box-shadow: none;
}

.noUi-horizontal .noUi-handle {
  width: 15px;
  height: 15px;
  border-radius:100%;
  right: -14px;
  top: -2px;
  cursor: pointer;
  &::before,
  &::after {
    display: none;
  }
}

.noUi-touch-area {
  background-color: var(--turquoise);
  border:none;
  height: 5px;
  width: 5px;
  border-radius:100%;
}

.choices {
  font-size: 12px;
  margin-left: auto;
  width: 100%;
  text-transform: uppercase;
  @extend %oswald-300;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.04em;
  border-radius:10px;

}
.choices__inner {
  background: rgba(0,0,0,.2);
  backdrop-filter: blur(10px);
  border:none;
  border-radius:10px;
}
.choices[data-type*=select-one].is-open::after {
  border-color:  transparent transparent var(--white);
}
.choices[data-type*=select-one]::after {
  border-color: var(--white) transparent transparent;
}
.choices__list--dropdown, .choices__list[aria-expanded] {
  background: rgba(0,0,0,.2);
  backdrop-filter: blur(10px);
  border:none;
  border-radius:10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: transparent;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted::after, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted::after {
  display: none;
}
