.faq {
  position: relative;
  padding-top: 45px;
  padding-bottom: 200px;

  &::before,
  &::after {
    position: absolute;
    content: '';
    background-repeat: no-repeat;
    background-size: auto;
    z-index: -1;
  }
  &::before {
    top: -280px;
    left: -310px;
    width: 716px;
    height: 920px;
    background-image: url('./img/faq-img-top-left.png');
  }
  &::after {
    top: -85px;
    right: 0;
    width: 620px;
    height: 660px;
    background-image: url('./img/faq-img-top-right.png');
    transform: rotate(-90deg);
  }
  &__title {
    position: relative;
    margin-bottom: 40px;
    padding-left: 95px;

    &::before {
      position: absolute;
      content: '';
      top: 50%;
      left: 0;
      width: 65px;
      height: 1px;
      background-color: var(--turquoise);
      transform: translateY(-50%);
    }
  }
}

.accardeon {
  max-width: 825px;
  width: 100%;
  &__item {
    border: 1px solid var(--turquoise);
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &__item--open {
    .accardeon__box::before {
      transform: rotate(180deg);
    }
    .accardeon__box::after {
      opacity: 0;
    }

    .accardeon__content {
      padding: 0px 20px  20px;
      opacity: 1;
    }
  }
  &__control {
    padding: 20px 20px ;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
  }
  &__title {
    // padding: 20px;
    padding-right: 0;
    @extend %oswald-300;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: .02em;
    text-transform: uppercase;
    color: var(--turquoise);
    text-align-last: left;
  }
  &__box {
    position: relative;
    display: block;
    flex-shrink: 0;
    width: 20px;
    height: 20px;

    &::before ,
    &::after {
      position: absolute;
      content: '';
      right: 0;
      background-color: var(--turquoise);
      transition: transform .5s ease-in-out, opacity .5s ease-in-out;
    }
    &::before {
      width: 9px;
      height: 1px;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
    }
    &::after {
      height: 9px;
      width: 1px;
      transform-origin: center;
      top: 50%;
      transform: translateY(-50%);
      left: 5px;
    }
  }
  &__content {
    padding: 0 20px;

    @extend %oswald-300;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0em;


    max-height: 0px;
    will-change: max-height;
    overflow: hidden;

    transition: all .3s linear;
    box-sizing: content-box;
  }
}
