:root {
  --dark: #040A0A;
  --turquoise: #43FFD2;
  --purple: #7D2253;
  --wild: #D978AC;
  --white:#fff;
}


%oswald-700 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-style: normal;
}

%oswald-400 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
}

%oswald-300 {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-style: normal;
}


%corm-300 {
  font-family: "Cormorant", sans-serif;
  font-weight: 300;
  font-style: normal;
}

%real-400 {
  font-family: "Relative", sans-serif;
  font-weight: 400;
  font-style: normal;
}

